body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
/* default font size */
.fa {
    font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10.2px;
}
a {
    color: #404040;
}
a:hover {
    text-decoration: none;
}
legend {
    font-size: 18px;
    padding: 7px 0px
}
label {
    font-size: 12px;
    font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}
.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}
div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #404040;

    background-repeat: repeat-x;
}
/* top */
#top {
    background-color: #ffffff;
    font-size: 12px;

    padding: 4px 0px 3px 0;
    margin: 0 0 0px 0;
    min-height: 40px;
}
#top .container {
    padding: 0 20px;
}
#top #currency .currency-select {
    text-align: left;
}
#top #currency .currency-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #404040;
    background-image: linear-gradient(to bottom, #ffffff, #1f90bb);
    background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
    color: #444;
}
#top-links .dropdown-menu a {
    text-shadow: none;
}
#top-links .dropdown-menu a:hover {
    color: #FFF;
}
#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}
#top-links {
    padding-top: 6px;
}
#top-links a + a {
    margin-left: 15px;
}
/* logo */
#logo {
    margin: -15px 0 20px 0;
}
/* search */
.phoner {

    font-size: 20px;

    color: #303030;
    margin: 15px 0px 10px 0px;
}
/* cart */
#cart {
    margin-bottom: 10px;
}
#cart > .btn {
    font-size: 14px;
    line-height: 18px;
    background-color: #FF1502;
    border: 1px solid #FF1502;
    color: #ffffff;
}
#cart.open > .btn {
    background-image: none;
    background-color: #FF1502;
    border: 1px solid #FF1502;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
}
#cart.open > .btn:hover {
    color: #444;
}
#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}
#cart .dropdown-menu {
    min-width: 100%;
}
@media (max-width: 478px) {
    #cart .dropdown-menu {

    }
}
#cart .dropdown-menu table {
    margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}
@media (max-width: 478px) {
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
}
#cart .dropdown-menu li p {
    margin: 20px 0;
}
/* menu */

#menu {

    margin: 0 -15px 20px -25px;

    background-color: #ffffff;

    min-height: 100px;
}
#menu .nav > li > a {

    height: 100px;
    width: 372px;

    /*font-size: 20px;
    background-color: #F0F0F0;
            color: #303030;*/

    font-size: 30px;
    background-color: #000000;
    color: #FFFFFF;

    margin: 0 0 5px 10px;
    padding: 60px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #404040;
    -webkit-box-shadow: 0px 0px 4px #404040;
    box-shadow: 0px 0px 4px #404040;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
    cursor: pointer;	




}
#menu .nav > li > a:hover {

    height: 100px;

    width: 372px;
    /*font-size: 20px;*/
    font-size: 30px;
    background-color: #FF1502;
    color: #ffffff;

    margin: 0 0 5px 10px;
    padding: 60px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;




}


@media (max-width: 1025px) {
    #menu {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 100px;
    }
    #menu .nav > li > a {

        height: 100px;
        width: 303px;

        font-size: 18px;
        background-color: #F0F0F0;
        color: #303030;

        margin: 0 0 5px 10px;
        padding: 60px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menu .nav > li > a:hover {

        height: 100px;

        width: 303px;
        font-size: 18px;
        background-color: #FF1502;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 60px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}


@media (max-width: 769px) {
    #menu {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 100px;
    }
    #menu .nav > li > a {

        height: 100px;
        width: 230px;

        font-size: 16px;
        background-color: #F0F0F0;
        color: #303030;

        margin: 0 0 5px 10px;
        padding: 60px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menu .nav > li > a:hover {

        height: 100px;

        width: 230px;
        font-size: 16px;
        background-color: #FF1502;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 60px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {


}
#menu .dropdown-menu {

    padding-bottom: 0;
}
#menu .dropdown-inner {

    display: table;
}
#menu .dropdown-inner ul {
    display: table-cell;
}
#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}
#menu .dropdown-inner li a:hover {
    color: #404040;
}
#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #404040;
    background-color: #404040;

    background-repeat: repeat-x;
}
#menu #category {

    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #404040;

}
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #ffffff;
    padding: 2px 18px;
    float: right;
    background-color: #404040;

    background-repeat: repeat-x;

}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #404040;
}


@media (min-width: 1024px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;	
    }
}
@media (max-width: 1023px) {
    #menu {
        border-radius: 1px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #404040;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #404040;
    }




}
/* content */
#content {

    min-height: 600px;
}
/* footer */
footer {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #ffffff;

    color: #808080;
}
footer hr {
    border-top: none;
    border-bottom: 1px solid #303030;
}
footer a {
    color: #404040;
}
footer a:hover {
    color: #000000;
}
footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*color: #fff;*/
}
/* alert */
.alert {
    padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid #C0C0C0;
}
.breadcrumb i {
    font-size: 15px;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.pagination {
    margin: 0;
}
/* buttons */
.buttons {
    margin: 1em 0;
}
.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    margin-bottom: 20px;
}

.btnr {
    padding: 7.5px 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    margin-bottom: 1px;
    text-align: center;
}

.btn-xs {
    font-size: 9px;
}
.btn-sm {
    font-size: 10.2px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}
.btn-group > .btn-xs {
    font-size: 9px;
}
.btn-group > .btn-sm {
    font-size: 10.2px;
}
.btn-group > .btn-lg {
    font-size: 15px;
}
.btn-default {
    color: #777;

    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-primary {
    color: #ffffff;

    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #000000;
    background-position: 0 -15px;
}
.btn-warning {
    color: #ffffff;
    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;

    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;

    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;

    background-color: #FF1502;

    background-repeat: repeat-x;

}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #FF1502;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #000000;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}
.btn-inverse {
    color: #303030;

    background-color: #ffffff;
    border: 1px solid #303030;
    background-repeat: repeat-x;

}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #FFFFFF;
    border: 1px solid #303030;
}
/* list group */
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;


}
.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}
.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}
/* product list */
.product-thumb {
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    overflow: auto;
}
.product-thumb .image {
    text-align: center;
}
.product-thumb .image a {
    display: block;
}
.product-thumb .image a:hover {
    opacity: 0.7;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.product-grid .product-thumb .image {
    float: none;
}
@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
        .phoner {margin: 35px 0px 0px 30px;}
    }
}
.product-thumb h4 {
    font-weight: bold;
}
.product-thumb .caption {
    padding: 0 20px;
    min-height: 180px;
}
.product-list .product-thumb .caption {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}
.rating .fa-stack {
    font-size: 8px;
}
.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}
.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}
.rating .fa-star + .fa-star-o {
    color: #E69500;
}
h2.price {

    margin: 0;
}
.product-thumb .price {
    color: #444;
}
.product-thumb .price-new {
    font-weight: 600;
}
.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}
.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}
.product-thumb .button-group {
    border: 1px solid #cccccc;
    background-color: #FF1502;
    overflow: auto;
}
.product-list .product-thumb .button-group {
    border-left: 1px solid #cccccc;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}
.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #cccccc;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.product-thumb .button-group button + button {
    width: 20%;
    border-left: 1px solid #cccccc;
}
.product-thumb .button-group button:hover {
    color: #ffffff;
    background-color: #303030;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}




.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnails > li {
    margin-left: 20px;
}
.thumbnails {
    margin-left: -20px;
}
.thumbnails > img {
    width: 100%;
}
.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #cccccc;
}
.image-additional {
    max-width: 78px;
}
.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3{
        width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
        width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
        width: 100%;
    }
}

/* menus */

#menus {

    margin: 0 -15px 20px -25px;

    background-color: #ffffff;

    min-height: 60px;
}
#menus .nav > li > a {

    height: 50px;
    width: 372px;

    font-size: 18px;
    background-color: #303030;
    color: #ffffff;

    margin: 0 0 5px 10px;
    padding: 20px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #404040;
    -webkit-box-shadow: 0px 0px 4px #404040;
    box-shadow: 0px 0px 4px #404040;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
    cursor: pointer;	




}
#menus .nav > li > a:hover {

    height: 50px;

    width: 372px;
    font-size: 18px;
    background-color: #FF1502;
    color: #ffffff;

    margin: 0 0 5px 10px;
    padding: 20px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;




}


@media (max-width: 1025px) {
    #menus {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 60px;
    }
    #menus .nav > li > a {

        height: 50px;
        width: 303px;

        font-size: 16px;
        background-color: #303030;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menus .nav > li > a:hover {

        height: 50px;

        width: 303px;
        font-size: 16px;
        background-color: #FF1502;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}


@media (max-width: 769px) {
    #menus {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 60px;
    }
    #menus .nav > li > a {

        height: 50px;
        width: 230px;

        font-size: 14px;
        background-color: #303030;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menus .nav > li > a:hover {

        height: 50px;

        width: 230px;
        font-size: 14px;
        background-color: #FF1502;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}

#menus .nav > li > a:hover, #menus .nav > li.open > a {


}

/* menusu */

#menusu {

    margin: 0 -15px 20px -25px;

    background-color: #ffffff;

    min-height: 60px;
}
#menusu .nav > li > a {

    height: 50px;
    width: 372px;

    font-size: 18px;
    background-color: #ff0000;
    color: #ffffff;

    margin: 0 0 5px 10px;
    padding: 20px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #404040;
    -webkit-box-shadow: 0px 0px 4px #404040;
    box-shadow: 0px 0px 4px #404040;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
    cursor: pointer;	




}
#menusu .nav > li > a:hover {

    height: 50px;

    width: 372px;
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;

    margin: 0 0 5px 10px;
    padding: 20px 10px 10px 0px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;




}


@media (max-width: 1025px) {
    #menusu {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 60px;
    }
    #menusu .nav > li > a {

        height: 50px;
        width: 303px;

        font-size: 16px;
        background-color: #ff0000;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menusu .nav > li > a:hover {

        height: 50px;

        width: 303px;
        font-size: 16px;
        background-color: #000000;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}


@media (max-width: 769px) {
    #menusu {

        margin: 0 -15px 20px -25px;

        background-color: #ffffff;

        min-height: 60px;
    }
    #menusu .nav > li > a {

        height: 50px;
        width: 230px;

        font-size: 14px;
        background-color: #ff0000;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #404040;
        -webkit-box-shadow: 0px 0px 4px #404040;
        box-shadow: 0px 0px 4px #404040;
        -moz-transition: background-color 0.8s 0.1s ease;
        -o-transition: background-color 0.8s 0.1s ease;
        -webkit-transition: background-color 0.8s 0.1s ease;
        cursor: pointer;	




    }
    #menusu .nav > li > a:hover {

        height: 50px;

        width: 230px;
        font-size: 14px;
        background-color: #000000;
        color: #ffffff;

        margin: 0 0 5px 10px;
        padding: 20px 10px 10px 0px;
        -moz-box-shadow: 0px 0px 4px #000000;
        -webkit-box-shadow: 0px 0px 4px #000000;
        box-shadow: 0px 0px 4px #000000;




    }
}
#menusu .nav > li > a:hover, #menusu .nav > li.open > a {


}

.strazy_button{
    font-size: 2em;
}

.fpd-views-selection.fpd-tr{
    left: 10px;
    right: auto;
    width:120px;
}
.fpd-menu-bar > div:last-child{
    /*float: left;*/
    /*margin-right: 160px;*/
}
.fpd-save-product{
    margin: 10px;
    display: block;
}
#clothing-designer{
    max-width:880px;
    margin:0 auto;
}

.but2{
    background-color: #000;
}
.but2:hover{
    background-color: #666666;
    color: #FFF;
}
.fpd-initiliazing2{
    line-height: 2em;
    background-color: #FF1502;
    border: 1px solid #FF1502;
    color: #FFF;
    padding: 10px;
    text-align: center;
}